HAVE_PTY_H,HAVE_LIBZ,WORDS_BIGENDIAN,HAVE_LIBGCRYPT,DEBUG_CRYPTO,HAVE_OPENSSL_AES_H,HAVE_GETHOSTBYNAME,OPENSSL_VERSION_NUMBER,OPENSSL_CRYPTO,HAVE_OPENSSL_BLOWFISH_H,HAVE_SYS_TIME_H,BASE,HAVE_LIBCRYPTO,GCRYPT,NO_SERVER,__cplusplus,HAVE_SSH1,HAVE_OPENSSL_DES_H,HAVE_PTY_H,WORDS_BIGENDIAN,HAVE_LIBGCRYPT,DEBUG_CRYPTO,HAVE_OPENSSL_AES_H,HAVE_GETHOSTBYNAME,OPENSSL_VERSION_NUMBER,OPENSSL_CRYPTO,HAVE_OPENSSL_BLOWFISH_H,HAVE_SYS_TIME_H,BASE,HAVE_LIBCRYPTO,GCRYPT,NO_SERVER,__cplusplus,HAVE_SSH1,HAVE_OPENSSL_DES_H